<div>
  <div class="pageTitleWrap">
    <h2 class="pageTitle">Add Animal</h2>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-sm-8 col-xs-10 formwrap"> 
        <div class="resultMsg" ng-show="resultMsg.length > 0" ng-bind-html="resultMsg"></div>
			  <div class="formLabel">Common Name: </div><input type="text" ng-model="animalName"><br/><br/>
			  <div class="formLabel">Scientific Name: </div><input type="text" ng-model="latinName"><br/><br/>
			  <div class="formLabel">Favorite Food: </div><select ng-model="favoriteFood">
			    <option ng-repeat="food in foodList" ng-value="food.foodId" ng-selected="favoriteFood == food.foodId">{{food.name}}</option>
			  </select><br/><br/>
			  <div class="formLabel">Information Link: </div><input type="text" ng-model="infoLink"><br/><br/>
			
			  <center><input type="button" value="Add Animal" ng-click="validateForm();"></center>
			</div>
      <div class="col-md-3 col-sm-2 col-xs-1">&nbsp;</div>
    </div>
  </div>
 
</div>