<div>
  <div class="pageTitleWrap">
    <h2 class="pageTitle">Delete Enclosure</h2>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-2 col-xs-1">&nbsp;</div>
      <div class="col-md-6 col-sm-8 col-xs-10 formwrap"> 
        <div class="resultMsg" ng-show="resultMsg.length > 0" ng-bind-html="resultMsg"></div>
 			  <div class="formLabel">Select Enclosure: </div><select ng-model="selectedId">
			    <option ng-repeat="enclosure in enclosureList" ng-value="enclosure.enclosureId">{{enclosure.name}}</option>
			  </select><br/><br/>
			  <center><input type="button" ng-disabled="selectedId==0" value="Delete" ng-click="deleteEnclosure();"></center>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-1">&nbsp;</div>
    </div>
  </div>
</div>